cvzone==1.5.6
distlib==0.3.6
django-crispy-forms==1.14.0
filelock==3.8.0
mysql-connector-python==8.0.31
numpy==1.24.1
opencv-python==4.7.0.68
Pillow==9.5.0
platformdirs==2.5.2
PyMySQL==1.0.3
virtualenv==20.16.5
virtualenvwrapper-win==1.2.7
XlsxWriter==3.0.3
